{{#if addNewQuestion}}
  <div class="white">
    <h2>New Question</h2>
  </div>
    <div>
      <form>
        <div class="form-group">
          <label for="author">Name</label>
          {{input value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="query">Your Question</label>
          {{input value=query id="query"}}
          </div>

        <div class="form-group">
          <label for="notes">Notes</label>
          {{input value=notes id="notes"}}
        </div>

        <button class="btn btn-info"{{action 'save1'}}>Save</button>
      </form>
    </div>
 {{else}}
    <button class="btn btn-primary"{{action 'questionFormShow'}}>New Question</button>
{{/if}}
